<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Configuração de Rewrite -->
    <rewrite>
      <rules>
        <!-- Redirecionar todas as solicitações para o arquivo index.html -->
        <rule name="Redirect base URL to login" stopProcessing="true">
          <match url="^/sms-server/$" />
          <action type="Rewrite" url="sms-server/login" />
        </rule>
        <!-- Exclude specific PHP files from SPA rewrite -->
        <rule name="Exclude PHP Files" stopProcessing="true">
          <match url="^(get-update\.php|other-script\.php)$" />
          <action type="None" />
        </rule>
        <rule name="SPA Rewrite" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- Excluir arquivos físicos e diretórios reais -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <!-- Exclude specific PHP files from SPA rewrite -->
            <add input="{REQUEST_URI}" pattern="^(get-update\.php|other-script\.php)$" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configuração de Cache -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
       <!-- Configuração de MIME Types -->
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <!-- Adicione outros MIME types, se necessário -->
    </staticContent>

    <!-- Configuração de Compactação -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
</configuration>
