<footer class="site-footer">
    <div class="top">
    <img src="/src/img/header_banner_original_2.png?width=300px&as=webp" class="logo-footer" alt="img mascote rifas.cv">
    <div class="container-location-contact">
        <div class="info-item">
        <i class="icon fa-solid fa-location-dot"></i>
        <span class="label-info">Santiago, Praia - Ponta d'Água, Rua igreja Nazareno 2º Paragem de autocarro</span>
        </div>
        <div class="info-item">
        <i class="icon fa-solid fa-phone"></i>
        <span class="label-info">
            <a href="tel:002385911626">+238 5911626</a> / <a href="tel:002389179916">+238 9179916</a>
        </span>
        </div>
        <div class="info-item">
        <i class="icon fa-solid fa-at"></i>
        <span class="label-info">
            <a href="mailto:support@rifas.cv">support@rifas.cv</a>
        </span>
        </div>
    </div>
    <div class="container-qc-info">
        <div class="utils-links-container">
        <button type="button" class="btn links-footer" data-modal="modal-faqs">FAQs</button>
        <button type="button" class="btn links-footer" data-modal="modal-terms">Termos de Uso</button>
        <button type="button" class="btn links-footer" data-modal="modal-privacy">Politicas de Privacidade</button>
        </div>
        <div class="sisp-logos-card">
        <img src="/src/img/vinti4.png?width=40px&as=webp" class="logo-card" alt="logo rede vinti4">
        <img src="/src/img/visa.png?width=80&as=webp" class="logo-card" alt="logo visa card">
        <img src="/src/img/mastercard.png?width=80&as=webp" class="logo-card" alt="logo mastercard">
        </div>
    </div>
    </div>
    <div class="bottom">
    <div class="copyright">
        &copy;Todos os direitos resevados a rifas.cv, 2025
    </div>
    <div class="container-social-link">
        <a href="https://www.facebook.com/rifas.cv" class="social-link">
            <span class="sr-only">Link facebook rifas.cv</span>
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/rifas.cv" class="social-link">
            <span class="sr-only">Link instagram rifas.cv</span>
            <i class="fa-brands fa-square-instagram"></i>
        </a>
        <a href="https://x.com/rifas_cv" class="social-link">
            <span class="sr-only">Link X rifas.cv</span>
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    </div>
    </div>
</footer>