// @import "cpanel/new-request";
// @import "cpanel/follow-up";
#dashboard {
    @extend #cpanel;

    .loader {
        z-index: 1;
    }

    .btn-download-all-excel {
        background-color: white;
        border: 2px solid #009DFF;
        padding: 10px 5px;
        font-weight: bold;
        color: #009DFF;
    }

    .bar-chart-container{
        height: 400px;
        display: flex;
        justify-content: center;
    }

    .container-pie-chart{
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;

        .pie-chart{
            width: 25%;
        }

        @media (max-width:1110px) {
            flex-direction: column;
            align-items: center;

            .pie-chart {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    .container-no-data{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 315px;
        min-height: 315px;
        gap: 1rem;

        @media (max-width:356px) {
            min-width: 100%;
        }

        .label-data-title{
            font-weight: bold;
            font-size: 1.1rem;
            color: #757575;
        }

        .no-data-place{
            width: 100%;
            flex-grow: 1;
            background-color: #b7b7b7;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 2.2rem;
            text-align: center;
            color: rgb(42, 42, 42);
        }
    }
}