@import "/node_modules/@fortawesome/fontawesome-free/css/all.css";

@import "/node_modules/@glidejs/glide/dist/css/glide.core.min.css";

@import "/node_modules/@glidejs/glide/dist/css/glide.theme.min.css";

//@import "/node_modules/css-tooltip/dist/css-tooltip.min.css";

html{
    font-size: 62.5%;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    min-height: 100vh;
    overflow-x: clip;
}
button,a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.btn{
    padding: .5rem;
    color: black;
    border: none;
    background-color: transparent;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    cursor: pointer;
}

body.index{
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: #8f65c7;
}

.main-content{
    max-width: 135rem;
    margin-inline: auto;
    margin-top: 8rem;

    @media (max-width:1415px) {
        max-width: 98%;
    }
}

.feedback-error {
    font-size: 1.1rem;
    font-weight: bolder;
    color: tomato;
    margin-top: .5rem;
}

.feedback-success {
    font-size: 1.4rem;
    font-weight: bolder;
    color: green;
    margin-top: .5rem;
}

.not-allowed {
    opacity: .6 !important;
    cursor: not-allowed !important;
}

.d-none {
    display: none !important;
}

.hide {
    visibility: hidden !important;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form-group-inline {
    display: flex;
    gap: 1rem;

    .form-group {
        flex-grow: 1;
    }
}

button:disabled{
    opacity: .5;
    cursor: not-allowed;
}

.container-data{
    position: relative;
}

.loader-container{
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.355);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    top: 0;
    left: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.link-return {
    background-color: #000000a0;
    font-size: 1.6rem;
    padding: 1rem;
    margin-bottom: 2rem;
    position: absolute;
    margin: 1rem;
    top: 0;
    left: 0;
}

.lds-ring {
    /* change color here */
    color: whitesmoke
}

.lds-ring,
.lds-ring div {
    box-sizing: border-box;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}