.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.388);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    display: none;

    &.show {
        display: block;
    }
}

.modal {
    position: fixed;
    z-index: 31;
    background-color: white;
    max-width: 900px;
    min-height: max-content;
    max-height: 70vh;
    top: -100rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    border-radius: 10px;
    transition: top .5s;

    &.show {
        top: 5rem;
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        border-bottom: 5px solid orange;
        padding-bottom: 1rem;

        .btn-close-modal {
            font-size: 3.2rem;
            cursor: pointer;
            position: absolute;
            top: -16px;
            right: -13px;
            background-color: whitesmoke;
            border-radius: 100%;
        }
    }

    .modal-body {
        margin-top: 1.5rem;
        max-height: 50vh;
        overflow-y: auto;

        .to-do-label{
            background-color: orange;
            font-size: 2rem;
            color: whitesmoke;
            margin: 2rem;
            text-align: center;
            padding: 2rem;
            border-radius: 2rem;
        }
    }

    @media (max-width:900px) {
        width: 90%;
    }
}