@mixin dgis-bg1 {
    &::before {
        @extend %place-pseudo-element;
        background-image: url("/src/img/mfids_logo.png");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
    }

    &::after {
        @extend %place-pseudo-element;
        backdrop-filter: blur(4px);
        background-image: linear-gradient(to bottom, rgba(6, 60, 101, 0.897),rgba(255,255,255,0.7));
        //background-image: linear-gradient(to bottom, rgba(6, 60, 101, 0.897), rgba(190, 150, 41, 0.7));
        //background-image: linear-gradient(to bottom, rgba(6, 60, 101, 0.897), rgba(144, 19, 8, 0.7));
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@mixin csu-bg1 {
    
}

@mixin lds-ring($color: #fff) {
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid $color;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $color transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}