.alunos{
    display: flex;
    flex-direction: column;
    background-color: #8f65c7;

    .main-content {
        flex-grow: 1;
        margin-top: 4rem;

        .login-container{
            display: flex;
            width: 1100px;
            align-items: center;
            justify-content: center;
            height: 75vh;


            @media (max-width:1130px) {
                width: 100%;
            }
        }

        .login-container-form{
            background-color: rgba(0, 0, 0, 0.626);
            padding: 1.2rem;
            border-radius: 1rem;
            width: 35rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            position: relative;

            .form-login{
                font-size: 1.7rem;
                width: 100%;
                label{
                    margin-bottom: 1rem;
                    color: gainsboro;
                    font-weight: bold;
                }

                .form-control{
                    border: none;
                    font-size: 1.8rem;
                    padding: 1rem .3rem;
                    border-radius: .5rem;
                    background-color: rgba(0, 0, 0, 0.632);
                    color: gray;
                    outline: none;
                    
                }

                .btn-login{
                    background-color: #8f65c7;
                    font-size: 2.2rem;
                    width: 100%;
                    color: gainsboro;
                    padding: .5rem 0;
                    border-radius: 1rem;
                    border: .3rem solid transparent;
                    transition: border-color .3s;
                    text-align: center;
                    display: block;

                    &:hover{
                        border-color: rgba(220, 220, 220, 0.562);
                    }
                }
            }

        }


        .page-aluno{
            width: 1400px;

            display: flex;
            gap: 1.5rem;

            .container-profile-aluno {
                background-color: rgba(0, 0, 0, 0.61);
                padding: 2rem;
                border-radius: 1rem;
                color: gainsboro;
                max-width: 30.8rem;
                display: flex;
                flex-direction: column;
                position: relative;
        
                .container-img-aluno {
                    border-radius: 100%;
                    width: max-content;
                    margin-inline: auto;
                }
        
                .info-container {
                    padding-top: 4rem;
                    flex-grow: 1;
                }
        
                .label-main {
                    font-size: 1.8rem;
                    border-bottom: .2rem solid gainsboro;
                    margin-bottom: 1.5rem;
                    width: max-content;
                    margin-top: 2rem;
                }
        
                .container-info {
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                }
        
                .container-actions-btn {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    gap: 1rem;
                    margin-bottom: .8rem;
        
                    .btn {
                        background-color: #8f65c7;
                        font-size: 1.6rem;
                        color: gainsboro;
                        padding: .8rem;
                        flex-grow: 1;
                        border-radius: .7rem;
                    }
                }
        
                .btn-logout {
                    background-color: tomato;
                    font-size: 1.6rem;
                    color: gainsboro;
                    border-radius: .7rem;
                    text-align: center;
                }
            }

            .container-view-actions{
                flex-grow: 1;
                flex-basis: 120rem;

                .jumbotron{
                    background-color: gainsboro;
                    padding: 1rem;
                    font-size: 3rem;
                    height: 15rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 1rem;
                    color: rgb(62, 62, 62);
                }

                .container-tab-btn{
                    display: flex;
                    justify-content: center;
                    margin-top: 2rem;
                    gap: 2rem;

                    .btn-tab{
                        background-color: rgba(0, 0, 0, 0.612);
                        color: gainsboro;
                        font-size: 1.6rem;
                        padding: .7rem;
                        border-radius: 1rem;
                        border: .3rem solid transparent;
                        transition: border-color .3s;

                        &:hover,&.active{
                            border-color: orange;
                        }
                    }
                }

                .container-tab{
                    margin-top: 2rem;

                    .container-title{
                        font-size: 2.2rem;
                        color: gainsboro;
                        border-bottom: .3rem solid gainsboro;
                        max-width: max-content;
                        margin-bottom: 2rem;
                    }

                    .curso-lista{
                        display: flex;
                        justify-content: flex-start;
                        width: 100%;
                        gap: 1rem;
                        overflow-x: scroll;
                        padding-bottom: 1.8rem;

                        .curso-item{
                            flex-shrink: 0;
                            background-color: rgba(0, 0, 0, 0.612);
                            padding: .8rem;
                            color: gainsboro;
                            display: flex;
                            flex-direction: column;
                            gap: .5rem;
                            font-size: 1.5rem;
                            border-radius: 1rem;
                            border: .3rem solid transparent;

                            &:hover,&.active{
                                border-color: orange;
                            }

                            .status-badge{
                                background-color: gainsboro;
                                color: rgb(38, 38, 38);
                                padding: .4rem;
                                margin-top: 1rem;
                                display: inline-block;
                                border-radius: 1rem;
                                font-weight: bold;
                                
                                &.matriculado{
                                    background-color: greenyellow;
                                }

                                &.finalizado {
                                    background-color: tomato;
                                }
                            }
                        }
                    }

                    .container-notas{


                        .list-notas{
                            height: 35rem;
                            overflow-y: scroll;
                            padding: 1rem;

                            .semestre-title{
                                background-color: #0000009c;
                                color: gainsboro;
                                padding: .8rem;
                                font-size: 1.5rem;
                                margin-bottom: 1rem;
                                border-radius: .5rem;
                            }

                            .disiciplina-item{
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 2rem;
                                font-size: 1.5rem;
                                color: gainsboro;
                                background-color: #0000004b;
                                padding: 1rem;
                                border-radius: .5rem;
                                
                                .status-badge{
                                    background-color: gray;
                                    padding: .4rem;
                                    border-radius: 1rem;
                                    margin-left: 1rem;

                                    &.aprovado{
                                        background-color: green;
                                    }

                                    &.reprovado{
                                        background-color: tomato;
                                    }
                                }
                            }
                        }
                    }


                    .lista-pagamentos-container{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        height: 55rem;
                        overflow-y: scroll;

                        .pagamento-item{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 1.5rem;
                            color: gainsboro;
                            background-color: #0000004b;
                            padding: 1rem;
                            border-radius: .5rem;

                            .action-status{
                                display: flex;
                                align-items: center;
                                gap: 2rem;
                            }

                            .icon-pay{
                                font-size: 2.5rem;
                                cursor: pointer;
                            }

                            .badge-status-pay{
                                background-color: gray;
                                padding: .4rem;
                                border-radius: 1rem;
                                margin-left: 1rem;
                                display: inline-block;
                                width: 7.7rem;
                                text-align: center;
                            
                                &.notpay {
                                    background-color: orange;
                                    color: rgb(64, 64, 64);
                                }
                            
                                &.pay {
                                    background-color: green;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}