.back-office{
    display: flex;
    flex-direction: column;
    background-color: #8f65c7;

    .main-content{
        flex-grow: 1;
        width: 1100px;
        margin-top: 5rem;

        .container-title{
            background-color: rgba(220, 220, 220, 0.588);
            padding: 5rem 0;
            font-size: 1.5rem;
            text-align: center;
            border-radius: 1rem;
            color: rgba(0, 0, 0, 0.641);

            @media (max-width:373px) {
                font-size: 1.2rem;
            }
        }

        .container-buttons{
            display: flex;
            gap: 1rem;
            justify-content: center;
            margin-top: 1rem;

            border-bottom: .3rem solid rgba(220, 220, 220, 0.414);
            padding-bottom: 1rem;

            .btn-action{
                color: gainsboro;
                background-color: rgba(0, 0, 0, 0.626);
                font-size: 2rem;
                padding: .5rem;
                flex-basis: 22rem;
                height: 10rem;
                border-radius: 1rem;
                border: .5rem solid transparent;
                transition: border-color .3s;

                &:hover,&.active{
                    border-color: orange;
                }

                @media (max-width:930px) {
                    flex-shrink: 0;
                }
            }

            @media (max-width:930px) {
                justify-content: flex-start;
                overflow-x: scroll;
            }
        }

        .form-create-curriculares,
        .form-create-cursos,
        .form-create-matriculas{
            background-color: rgba(0, 0, 0, 0.626);
            padding: 1rem;
            margin-top: 2rem;
            color: gainsboro;
            font-size: 1.7rem;
            border-radius: 1rem;

            label {
                margin-bottom: 1rem;
                color: gainsboro;
                font-weight: bold;
            }

            .form-control {
                border: none;
                font-size: 1.8rem;
                padding: 1rem .3rem;
                border-radius: .5rem;
                background-color: rgba(0, 0, 0, 0.632);
                color: gray;
                outline: none;
                width: 51rem;

            }

            .container-create-btn{
                display: flex;
                justify-content: center;
                gap: 1rem;
                .btn{
                    background-color: #8f65c7;
                    font-size: 1.8rem;
                    color: gainsboro;
                    border-radius: .5rem;
                }
            }
        }

        .form-create-matriculas{
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width:1074px) {
                .form-group-inline,.form-group,.form-control{
                    width: 100%;
                }
            }
        }

        .list-curriculares{
            height: 23rem;
            margin-top: 2rem;
            padding: .7rem;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .curriculares-item{
                background-color: #0000004b;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: gainsboro;
                font-size: 1.8rem;
                padding: 1rem;
                border-radius: 1rem;

                .container-action-btn{


                    .btn{
                        color: gainsboro;
                        padding: .5rem 1rem;
                        font-size: 1.8rem;
                        border-radius: 1rem;

                        &.btn-delete-curriculares{
                            background-color: tomato;
                        }

                        &.btn-edit-curriculares{
                            background-color: green;
                        }
                    }
                }

                @media (max-width:414px) {
                    flex-wrap: wrap;
                    gap: 2rem;

                    .container-action-btn{
                        margin-inline: auto;
                    }
                }
            }
        }

        .list-cursos{
            display: flex;
            margin-top: 1rem;
            padding: 1rem;
            overflow-x: scroll;
            gap: 1rem;
            width: 100%;
            padding-bottom: 2rem;

            .cursos-item-list{
                background-color: #0000004b;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: gainsboro;
                padding: .5rem;
                gap: 1rem;
                font-size: 1.5rem;
                border-radius: .6rem;
                flex-shrink: 0;

                .info-item{
                    margin-bottom: .4rem;
                }

                .container-actions{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .btn{
                        font-size: 2rem;
                        border-radius: .4rem;
                    }

                    .btn-add-curso {
                        background-color: orange;
                        color: gainsboro;
                    }

                    .btn-actions{

                        .btn{
                            color: gainsboro;
                            width: 5rem;
                            padding: .4rem;

                            &.btn-delete-curso{
                                background-color: tomato;
                            }

                            &.btn-edit-curso{
                                background-color: green;
                            }
                        }
                    }
                }
            }
        }

        .list-alunos,.list-alunos-matriculados{
            display: flex;
            margin-top: 1rem;
            padding: 1rem;
            overflow-x: scroll;
            gap: 1rem;
            width: 100%;
            padding-bottom: 2rem;

            .aluno-info-item,.alunos-matriculados-item {
                background-color: #0000004b;
                color: gainsboro;
                padding: .5rem;
                gap: 1rem;
                font-size: 1.5rem;
                border-radius: .6rem;
                flex-shrink: 0;
        
                .info-item {
                    margin-bottom: .4rem;
                }
        
                .btn {
                    font-size: 2rem;
                    border-radius: .4rem;
                    width: 100%;
                }

                .actions-edit-aluno{
                    display: flex;
                    gap: 1rem;
                }

                .btn-edit-aluno {
                    background-color: orange;
                    color: gainsboro;
                }

                .btn-delete-aluno {
                    background-color: tomato;
                    color: gainsboro;
                }

                .badge-status-matricula{
                    background-color: gainsboro;
                    font-size: 1.4rem;
                    color: grey;
                    padding: .3rem;
                    display: block;
                    width: max-content;
                    margin-bottom: .3rem;
                    border-radius: 1rem;
                    margin-inline: auto;

                    &.not{
                        background-color: tomato;
                        color: gainsboro;
                    }

                    &.okay{
                        background-color: green;
                        color: gainsboro;
                    }
                }
            }
        }

        .list-alunos-matriculados{
            flex-direction: row;
            flex-wrap: wrap;
            max-height: 30.8rem;
            overflow-y: scroll;
            justify-content: center;
        }

        .container-filter-curso{
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.8rem;
            color: gainsboro;
            margin-top: 1rem;

            .label{
                border-right: .4rem solid #0000004b;
                padding-right: .5rem;
            }

            .list-cursos-filter{
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 100%;
                overflow-x: scroll;
                padding-bottom: 2rem;

                .item-filter{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    background-color: #0000004b;
                    padding: .7rem;
                    border-radius: 1rem;
                    border: .3rem solid transparent;
                    transition: border-color .3s;
                    cursor: pointer;
                    flex-shrink: 0;

                    &:hover,&.active{
                        border-color: orange;
                    }

                    .label-grau{
                        background-color: gainsboro;
                        color: black;
                        padding: .3rem;
                        border-radius: 1rem;
                    }
                }
            }
        }


        .form-group-inline {
            @media (max-width:1074px) {

                .form-group,
                .form-control {
                    width: 100%;
                }

                flex-direction: column;
            }
        }
        
    }
}