@import "form-login";
@import "main-footer";
@import "container-pannel";
@import "main-header";
@import "main-content";
@import "lds-ellipsis";
@import "backdrop";
@import "loader-page";
@import "btn-holder-toggler";
@import "pagination-control";
@import "tables";
@import "modals";
@import "card-member-info";
@import "card-reclamacoes";
@import "card-denuncias";
@import "offside";
@import "filter-region-container";
//@import "document-list-doc-card";