.btn-holder-toggler {
    width: 40px;
    height: 20px;
    border-radius: 9px;
    background-color: #bcbcbc;
    display: flex;
    align-items: center;
    padding-left: 2px;
    padding-right: 1.5px;
    cursor: pointer;

    .btn-circle-toggler {
        background-color: gray;
        transform: translateX(0px);
        border-radius: 50%;
        width: 16px;
        height: 16px;
        transition: 300ms;
    }

    .active {
        background-color: green;
        transform: translateX(20px);
        transition: 300ms;
    }

    .checkbox {
        display: none;
    }
}