@mixin container-pannel{
    .container-pannel {
        background-color: rgba(0, 0, 0, 0.522);
        padding: 4rem;
        padding-bottom: 10rem;
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 15rem;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .heading-1 {
            color: gainsboro;
            font-size: 3rem;
            //text-shadow: 0px 0px 10px rgb(62, 62, 62);
            text-align: center;
            @media (max-width:684px) {
                margin-left: 0;
            }

            @media (max-width:445px) {
                font-size: 6vw;
            }
        }

        .panel-header-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 100%;

            /*@media (max-width:684px) {
                flex-direction: column;
                gap: 1rem;
            }*/
        }

        .navigation-pannel{
            width: 100%;
            display: flex;
            gap: .5rem;
            justify-content: center;

            .btn-nav-auth{
                @extend %btn-nav-auth;
            }

            .btn-nav-feedback{
                @extend %btn-nav-auth;
            }

            @media (max-width:680px) {
                flex-direction: column;
                width: 280px;
                gap: 1rem;
            }

            @media (max-width:445px) {
                width: 100%;
                font-size: 5vw;
            }
        }

        .btn-switch-org {
            @extend %btn-nav-auth;
            border-color: tomato;
            color: tomato;
            font-size: 1.4rem;
            padding: .5rem;
            margin-top: .5rem;
            margin-bottom: 1rem;

            &:hover{
                background-color: tomato;
                color: white;
            }
        }

        @media (max-width: 1040px) {
            width: 95%;
        }
    }
}