.filter-region-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 1.8rem;

    .filter-item{
        display: flex;
        align-items: center;
        padding: .3rem;
        gap: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: orange;
        color: white;
        border-radius: 1rem;
        border: 4px solid transparent;
        flex-shrink: 0;
        cursor: pointer;
        min-width: 162px;

        &.active{
            border-color: #009DFF;
        }
    }

    .icon-container{
        background-color: rgba(39, 39, 39, 0.749);
        padding: .5rem;
        border-radius: .5rem;
    }
}