.loader-page:not(.d-none){
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    @include lds-ring(gray);
}