@mixin main-footer{
    .main-footer {
        @extend %bring-forward;
        background-color: rgba(0, 0, 0, 0.522);
        color: gainsboro;
        padding: 20px;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 30px;
        font-weight: bold;
    }
}