.offside{
    position: fixed;
    background-color: white;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: -1000px;
    padding: 1rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0px 10px #00000061;
    transition: left .5s;

    .form-control {
        @extend %form-control;
    }

    &.show{
        left: 0;
    }

    .loader {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.71);
        @include lds-ellipsis;
        z-index: 2;
    }

    .container-inner-modal{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.259);

        .inner-modal {
            position: absolute;
            background-color: white;
            border-radius: 5px;
            padding: 1rem;
            top: 30%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            flex-direction: column;
            min-width: 35rem;

            .inner-modal-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.7rem;
                gap: 3rem;
                border-bottom: 2px solid gray;
                padding-bottom: 1.5rem;
                font-weight: bold;

                .inner-close,.inner-close-edit{
                    font-size: 3rem;
                    cursor: pointer;
                    font-weight: bold;
                    color: white;
                    background-color: black;
                    width: 4rem;
                    height: 4rem;
                    text-align: center;
                    overflow: hidden;
                    border-radius: 100%;
                }
            }
        }

        .modal-procedencia,.modal-edit-obs{
            .form-add-obs-nc,.form-edit-obs{
                margin-top: 1rem;

                .form-control{
                    border-radius: .5rem;
                    margin-bottom: 1rem;
                    width: 100%;
                    height: 15rem;
                }

                .btn-send-procedencia{
                    background-color: tomato;
                    color: white;
                    font-weight: bold;
                    border-radius: .5rem;
                    font-size: 1.4rem;
                    width: 100%;
                }

                .btn-update-obs {
                    background-color: green;
                    color: white;
                    font-weight: bold;
                    border-radius: .5rem;
                    font-size: 1.4rem;
                    width: 100%;
                }
            }
        }

        .modal-forward{
            .form-forward{
                margin-top: 1rem;
                
                .form-control {
                    border-radius: .5rem;
                    margin-bottom: 1rem;
                    width: 100%;
                }

                .btn-forward-reclamacao {
                    background-color: #009DFF;
                    color: white;
                    font-weight: bold;
                    border-radius: .5rem;
                    font-size: 1.4rem;
                    width: 100%;
                }

                label{
                    font-size: 1.3rem;
                    display: inline-block;
                    margin-bottom: 1rem;
                    font-weight: bold;
                }
            }
        }

        .btn-add-response{
            background-color: #009DFF;
            color: white;
            font-weight: bold;
            border-radius: .5rem;
            font-size: 1.4rem;
            width: 100%;
        }
    }

    .offside-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;

        border-bottom: 4px solid gray;
        padding-bottom: 1rem;

        .title-container {
            font-size: 2rem;
            font-weight: bold;
            color: rgb(44, 44, 44);

            @media (max-width:320px) {
                font-size: 1.5rem;
            }
        }
    
        .close-container {
            font-size: 4rem;
            background-color: rgb(43, 43, 43);
            color: white;
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            padding: 0;
            border-radius: 100%;
            cursor: pointer;
        }
    }

    .offside-body{
        flex-grow: 1;
        max-height: 800px;
        overflow-y: auto;
        padding-inline: 1.4rem;
        position: relative;
    }

    .container-no-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 4rem;
        .icon-container{
            font-size: 10rem;
            color: orange;
        }
        .label-info-error{
            font-weight: bold;
            font-size: 2rem;
            text-align: center;
        }
    }

    .info-reclamacao-container{
        border: 2px solid rgb(208, 208, 208);
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.4rem;
        max-height: 20rem;
        overflow-y: auto;

        .group-info{
            margin-top: .5rem;
            margin-bottom: .5rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            @media (max-width:525px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .label{
            font-weight: bold;
            flex-shrink: 0;
        }

        .label-info{
            background-color: gainsboro;
            padding: 1rem;
            border-radius: 1rem;
            width: 100%;
        }
    }

    .container-reclamacao-resume{
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;

        .label-title{
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }

        .reclamacao-resume{
            height: 20rem;
            overflow-y: auto;
            font-size: 1.4rem;
            padding: 1rem;
            border: 2px solid rgb(208, 208, 208);
            border-radius: 1rem;
        }
    }

    .list-category{
        display: flex;
        justify-content: flex-start;
        padding-top: 1rem;
        padding-bottom: 1rem;
        overflow-x: auto;
        gap: 1rem;

        .btn-del-tag{
            display: none!important;
        }
    }

    .tag-category {
        background-color: gray;
        padding: 1rem;
        font-size: 1.4rem;
        font-weight: bold;
        color: white;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        gap: 1rem;
    
        .btn-del-tag {
            font-size: 2rem;
            background-color: rgba(0, 0, 0, 0.64);
            width: 3rem;
            height: 3rem;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            cursor: pointer;
        }
    }

    .container-form-add-category,
    .container-comentary-added{
        margin-top: 1.5rem;
        margin-bottom: 2rem;

        .btn-procedencia{
            border: 2px solid tomato;
            background-color: white;
            color: tomato;
            font-weight: bold;
            border-radius: .5rem;
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }

        .container-input-tag{
            display: flex;
            flex-direction: column;

            .form-group{
                display: flex;
                flex-direction: column;
            }

            .form-control {
                color: gainsboro;
                background-color: #00000057;
                border: none;
                padding: 1rem .5rem;
                font-size: 1.5rem;
            }

            .label-input{
                font-size: 1.3rem;
                margin-bottom: 1rem;
                font-weight: bold;
            }
        }

        .tag-added-container{
            margin-top: 1rem;
            height: 20rem;
            overflow-x: hidden;
            overflow-y: auto;
            font-size: 1.4rem;
            padding: 1rem;
            border: 2px solid rgb(208, 208, 208);
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }

    .form-add-obs,
    .form-add-response{
        margin-top: 1rem;
        .form-group {
            display: flex;
            flex-direction: column;
        }
    
        .form-control {
            color: gainsboro;
            background-color: #00000057;
            border: none;
            padding: 1rem .5rem;
            font-size: 1.5rem;
        }
    
        .label-input {
            font-size: 1.3rem;
            margin-bottom: 1rem;
            font-weight: bold;
            display: block;
        }

        .btn-add-obs{
            background-color: #009DFF;
            color: white;
            font-weight: bold;
            border-radius: .5rem;
            margin-top: 1rem;
            font-size: 1.4rem;
            width: 100%;
        }
    }

    .form-add-response{
        .form-control {
            margin-bottom: 1rem;
        }

        label {
            font-size: 1.3rem;
            display: inline-block;
            margin-bottom: 1rem;
            font-weight: bold;
        }
    }

    .text-area-obs {
        height: 10rem;
        border-radius: 1rem;
    }

    .container-comentary-added{

        .container-obs-list{
            min-height: max-content;
            font-size: 1.3rem;
            max-height: 40rem;
            overflow-y: auto;
            padding: 1rem;
            border: 2px solid rgb(208, 208, 208);
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .obs-item{
                background-color: gray;
                color: white;
                font-weight: bold;
                padding: 1rem;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .obs-text{
                    font-size: 1.4rem;
                }

                &.clgr{
                    background-color: #009DFF;
                }

                &.ccgr{
                    background-color: green;
                }

                &.reclamante{
                    background-color: rgb(155, 101, 2);
                }

                .btn-del-obs{
                    background-color: tomato;
                    font-weight: bold;
                    color: white;
                    border-radius: 5px;
                    font-size: 1.5rem;
                }

                .btn-edit-obs {
                    background-color: #0080004d;
                    font-weight: bold;
                    border: 2px solid white;
                    color: white;
                    border-radius: 5px;
                    font-size: 1.5rem;
                }
            }
        }
    }

    .btn-confirm-send{
        font-size: 1.7rem;
        font-weight: bold;
        color: white;
        background-color: #009DFF;
        padding: 1rem;
        border-radius: 10px;

        .fa-regular{
            margin-left: 1rem;
            font-size: 2rem;
        }
    }

    .btn-close-denuncia{
        font-size: 1.7rem;
        font-weight: bold;
        color: white;
        background-color: tomato;
        padding: 1rem;
        border-radius: 10px;
    
        .fa-solid {
            margin-left: 1rem;
            font-size: 2rem;
        }
    }

    .offside-footer{
        display: flex;
        justify-content: center;
        border-top: 4px solid gray;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    @media (max-width:525px) {
        width: 100%;
    }
}

.offside-add-response {
    .form-add-obs {
        margin-bottom: 2rem;
    }
}