@mixin pagination-control{
    .pagination-control,
    .pagination-container {
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 1rem;

        .pagination {
            display: flex;
            font-size: 1.4rem;
            gap: 1rem;
            flex-wrap: wrap;

            .page-item {
                cursor: pointer;
                background-color: rgba(245, 245, 245, 0.736);
                padding: 1rem 1.5rem;
                font-weight: bold;
                border: 1px solid gray;

                &:hover:not(.active) {
                    background-color: gray;
                    color: whitesmoke;
                }

                &.active {
                    border: 2px solid #009DFF;
                }
            }
        }

        @media (max-width:434px) {
            justify-content: center;

            .form-control {
                margin-bottom: 1rem;
            }
        }
    }
}