@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "./partials/utils/placeholders";
@import "./partials/utils/mixins";
@import "./partials/reset";
@import "./partials/components/all-components";
@import "./partials/pages/login";
@import "./partials/pages/cpanel";
@import "./partials/pages/adsSMS";
@import "./partials/pages/bulkSMS";
@import "./partials/pages/sendSMS";
@import "./partials/pages/trackSMS";
@import "./partials/pages/dashboard";
@import "./partials/pages/not-found";